/* .completed{
    height: 0;
    overflow: hidden;
}
.show{
    height: fit-content;
} */
:root {
  
  ---foreground: #6e9fe7;
  ---background: rgb(26 26 26);
  ---muted: rgb(215 215 215 / 28%);
  
}
*{
    caret-color: var(---foreground);
}
*::selection{
    background-color: var(---foreground);
    color: var(---background);
}
body {
  font-family: sans-serif;
  background-color: var(---background);
  color: var(---foreground);
}
.notes-body {
  max-width: 900px;
  margin: auto;
}
.incompleted {
  min-height: 50vh;
}
.note-item {
  position: relative;
  border-bottom: 1px solid var(---foreground);
  padding: 24px 12px;
}
.note-done {
  color: var(---muted);
  position: relative;
  border-bottom: 1px solid var(---foreground);
  padding: 24px 12px;
}
.note-title {
  min-height: 10px;
  width: fit-content;
  border-bottom: 1px solid var(---foreground);
}
.note-description {
  color: var(---foreground);
}
.note-done .note-title {
  border-color: var(---muted);
}
.note-done .note-description {
  color: var(---muted);
}
.delte-btn {
  position: absolute;
  right: 12px;
  width: 40px;
  height: 40px;
  top: 24px;
  border-radius: 50%;
  border: none;
  background-color: transparent;
  transition: 0.3s;
  cursor: pointer;
  font: 1.2em sans-serif;
  color: var(---foreground);
}
.delte-btn:hover {
  background-color: var(---foreground);
  color: var(---background);
}
.note-date {
  font-size: xx-small;
}
.note-description-input,
.note-input {
  background-color: transparent;
  padding: 12px;
  border-radius: 24px;
  border-color: var(---foreground);
  color: var(---foreground);
  transition: .3s;
  margin: 0 24px 0 0;
}
.note-description-input:focus-visible,
.note-input:focus-visible {
  outline: none;
  transform: scale(1.02,1.1) ;
}
#add-btn {
  width: 40px;
  height: 40px;
  border: none;
  border-radius: 50%;
  background-color: var(---foreground);
  color: var(---background);
  transition: 0.3s;
  cursor: pointer;
}
#add-btn:hover {
  transform: scale(1.1);
}
#show-deleted-btn {
  padding: 12px;
  border-radius: 12px;
  border: none;
  cursor: pointer;
  background-color: var(---foreground);
  color: var(---background);
  margin-left: auto;
}

.completed {
}
.inputs-area{
    text-align: center;
    position: sticky;
    top: 0;
    background-color: var(---background);
    z-index: 12;
    padding: 12px 0;
}